<p id="notice"><%= notice %></p>

<p>
  <b>Full name:</b>
  <%= @customer.full_name %>
</p>

<p>
  <b>Phone:</b>
  <%= @customer.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<div id="image">
  <%= link_to image_tag(@customer.image) %>
</div>

<p>
  <b>Notes:</b>
  <%= @customer.notes %>
</p>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
